/* app css stylesheet */
*{
  margin:0;
  padding:0;
}
html {
  height:100%;
  font-size: 100%;
}

body{
  height:100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  width:16.666666%;
  position: fixed;
  top:0;
  left: 0;
  height:100%;
  padding:1%;
  background-color:lightGrey;
}

.menu > li {
  display: block;
  width:70%;
  margin:1%;
  padding:1%
  border:.1em solid black;
  font-size: 2em;
  background-color: blue;
}

.ng-view {
  padding:1%;
  margin-left: 20%;
  float:left;
}


footer {
  position: fixed;
  bottom:0;
  width:100%;
  background-color: green;
  height:3%;
  text-align: center;
}